@model IEnumerable<demomysql.Models.Contact>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout2.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Hoten)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Noidung)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tinhtrangdon)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ngaygui)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Hoten)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Noidung)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tinhtrangdon)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ngaygui)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Malh" class="btn btn-primary">Sửa</a> 
                <a  asp-action="ContactUs" asp-route-id="@item.Malh" class="btn btn-success">Phản hồi</a> 
                <a asp-action="Delete" asp-route-id="@item.Malh" class="btn btn-danger">Xóa</a>
            </td>
        </tr>
}
    </tbody>
</table>
