@model demomysql.Models.Nhacungcap

@{
    ViewData["Title"] = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_Layout2.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Nhacungcap</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Tenncc)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Tenncc)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Diachi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Diachi)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Thanhpho)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Thanhpho)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Sdt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Sdt)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Tinhtrangxacnhan)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Tinhtrangxacnhan)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Mancc">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
