@model demomysql.Models.Nguoidung

@{
    ViewData["Title"] = "Chi tiết";
    Layout = "~/Areas/Admin/Views/Shared/_Layout2.cshtml";
}

<h1>Chi tiết</h1>

<div>
    <h4>Nguoidung</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Username)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Username)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Password)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Password)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PasswordReset)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PasswordReset)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Hoten)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Hoten)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ngaysinh)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ngaysinh)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ngaytao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ngaytao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ngaysua)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ngaysua)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Vaitro)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Vaitro)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Trangthai)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Trangthai)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MadanhgiaNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MadanhgiaNavigation.Madanhgia)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MaquyenNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaquyenNavigation.Maquyen)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Manguoidung">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
