@model IEnumerable<demomysql.Models.Nguoidung>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout2.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table  class="table table-bordered table-hover myTable">
    <thead>
        <tr style="background-color:lightskyblue; color:black">
            <th>
                @Html.DisplayNameFor(model => model.Username)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Password)
            </th>
            
            <th>
                @Html.DisplayNameFor(model => model.Hoten)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ngaysinh)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            
            <th>
                @Html.DisplayNameFor(model => model.Vaitro)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Trangthai)
            </th>
           
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Username)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Password)
            </td>
            
            <td>
                @Html.DisplayFor(modelItem => item.Hoten)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ngaysinh)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            
            <td>
                @Html.DisplayFor(modelItem => item.Vaitro)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Trangthai)
            </td>
           
            <td>
                <a asp-action="Edit" asp-route-id="@item.Manguoidung" class="btn btn-success  rounded-0" data-toggle="tooltip" data-placement="top" title="Sửa"><i class="fa fa-edit"></i></a>
                <a asp-action="Details" asp-route-id="@item.Manguoidung" class="btn btn-primary  rounded-0" data-toggle="tooltip" data-placement="top" title="Chi tiết"><i class="fa fa-table"></i></a>
                <a asp-action="Delete" asp-route-id="@item.Manguoidung" class="btn btn-danger  rounded-0" data-toggle="tooltip" data-placement="top" title="Xóa"><i class="fa fa-trash"></i></a>

            </td>
        </tr>
}
    </tbody>
</table>
