@model demomysql.Models.Donhang

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Areas/Admin/Views/Shared/_Layout2.cshtml";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Donhang</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ngaydat)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ngaydat)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ngayship)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ngayship)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Tongdon)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Tongdon)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Hoten)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Hoten)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Sdt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Sdt)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Diachi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Diachi)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Gioitinh)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Gioitinh)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ghichu)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ghichu)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Sotheodoi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Sotheodoi)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Vanchuyen)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Vanchuyen)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Tinhtrangthanhtoan)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Tinhtrangthanhtoan)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ngaythanhtoan)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ngaythanhtoan)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ngayhethan)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ngayhethan)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Khongdangky)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Khongdangky)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Homeflag)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Homeflag)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Thanhpho)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Thanhpho)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Quan)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Quan)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdtransactionNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdtransactionNavigation.Idtransaction)
        </dd class>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MagiaohangNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MagiaohangNavigation.Magiaohang)
        </dd class>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ManguoidungNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ManguoidungNavigation.Manguoidung)
        </dd class>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MavoucherNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MavoucherNavigation.Mavoucher)
        </dd class>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Madonhang" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
