@model IEnumerable<demomysql.Models.Danhmuc>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout2.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table table-bordered table-hover myTable">
    <thead>
        <tr style="background-color:lightskyblue; color:black">
            <th>
                @Html.DisplayNameFor(model => model.Tendm)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Mota)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Hinhanh)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Tendm)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Mota)
            </td>
            <td>
                <img width="222" height="131" src="~/images/danhmucs/@item.Hinhanh" />
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Madm">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Madm">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Madm">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
