@model IEnumerable<demomysql.Models.Binhluan>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout2.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Noidung)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ngaytao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ManguoidungNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Noidung)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ngaytao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ManguoidungNavigation.Manguoidung)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Mabinhluan">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Mabinhluan">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Mabinhluan">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
