@using PagedList.Core.Mvc
@model PagedList.Core.IPagedList<demomysql.Models.Sanpham>
@using demomysql.Extension;
@{
    ViewData["Title"] = "Lọc";
    Layout = "~/Views/Shared/_Layout.cshtml";
    int PageCurrent = ViewBag.CurrentPage;
    int PageNext = PageCurrent + 1;
}
}

<!-- Begin Main Content Area -->
<main class="main-content">
    <div class="breadcrumb-area breadcrumb-height" data-bg-image="~/assets/images/breadcrumb/bg/1-1-1920x373.jpg">
        <div class="container h-100">
            <div class="row h-100">
                <div class="col-lg-12">
                    <div class="breadcrumb-item">
                        <h1 class="breadcrumb-heading">Shop Kraken</h1>
                        <ul>
                            <li>
                                <a asp-controller="Home" asp-action="Index">Home <i class="pe-7s-angle-right"></i></a>
                            </li>
                            <li>Tất cả sản phẩm</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="shop-area section-space-y-axis-100">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 order-2 pt-10 pt-lg-0">
                    <div class="sidebar-area">
                        <div class="widgets-searchbox mb-9">
                            <form id="widgets-searchbox" action="#">
                                <input class="input-field" type="text" placeholder="Search">
                                <button class="widgets-searchbox-btn" type="submit">
                                    <i class="pe-7s-search"></i>
                                </button>
                            </form>
                        </div>

                        <div class="widgets-area widgets-filter mb-9">
                            <form asp-controller="Product" asp-action="Filter">
                                <h2 class="widgets-title mb-5">Lọc giá</h2>
                                <div class="price-filter">

                                    <div class="price-slider-amount">
                                        Giá từ :
                                        <select name="giatu" id="giatu">

                                            <option value="500000">500,000</option>
                                            <option value="1000000">1,000,000</option>
                                            <option value="2000000">2,000,000</option>
                                            <option value="3000000">3,000,000</option>

                                        </select>
                                    </div>
                                    <div class="price-slider-amount">
                                        Giá tới :
                                        <select name="giatoi" id="giatoi">

                                            <option value="1000000">1,000,000</option>
                                            <option value="2000000">2,000,000</option>
                                            <option value="3000000">3,000,000</option>
                                            <option value="4000000">4,000,000</option>
                                            <option value="5000000">5,000,000</option>
                                            <option value="6000000">6,000,000</option>
                                            <option value="7000000">7,000,000</option>
                                            <option value="8000000">8,000,000</option>
                                            <option value="9000000">9,000,000</option>
                                            <option value="1000000">10,000,000</option>
                                            <option value="2000000">20,000,000</option>
                                            <option value="3000000">30,000,000</option>
                                        </select>
                                    </div>
                                    <div class="price-slider-amount">
                                        <button class="btn btn-primary btn-secondary-hover" type="submit">Lọc</button>

                                    </div>
                                </div>
                            </form>
                        </div>

                        


                    </div>
                </div>
                <div class="col-lg-9 order-1">
                    <div class="product-topbar">
                        <ul>
                            <li class="product-view-wrap">
                                <ul class="nav" role="tablist">
                                    <li class="grid-view" role="presentation">
                                        <a class="active" id="grid-view-tab" data-bs-toggle="tab" href="#grid-view" role="tab" aria-selected="true">
                                            <i class="fa fa-th"></i>
                                        </a>
                                    </li>
                                    <li class="list-view" role="presentation">
                                        <a id="list-view-tab" data-bs-toggle="tab" href="#list-view" role="tab" aria-selected="true">
                                            <i class="fa fa-th-list"></i>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li class="page-count">
                                <span>23</span> Product Found of <span>50</span>
                            </li>
                            <li class="short">
                                <select class="nice-select wide rounded-0">
                                    <option value="1">Sort by Default</option>
                                    <option value="2">Sort by Popularity</option>
                                    <option value="3">Sort by Rated</option>
                                    <option value="4">Sort by Latest</option>
                                    <option value="5">Sort by High Price</option>
                                    <option value="6">Sort by Low Price</option>
                                </select>
                            </li>
                        </ul>
                    </div>
                    <div class="tab-content text-charcoal pt-8">
                        <div class="tab-pane fade show active" id="grid-view" role="tabpanel" aria-labelledby="grid-view-tab">
                            <div class="product-grid-view row">
                                @if (Model.Count() > 0)
                                {
                                    foreach (var item in Model)
                                    {
                                        <div class="col-lg-4 col-sm-6">
                                            <div class="product-item">
                                                <div class="product-img img-zoom-effect">
                                                    <a asp-controller="Product" asp-action="Details" asp-route-id="@item.Masp">
                                                        <img class="img-full" src="~/images/sanphams/@item.Hinhanh" alt="@item.Hinhanh">
                                                    </a>
                                                    <div class="product-add-action">
                                                        <ul>

                                                            <li>
                                                                <a href="#" data-id="@item.Masp" class="button ajax-add-to-cart">
                                                                    <i class="pe-7s-cart"></i>
                                                                </a>
                                                            </li>

                                                        </ul>
                                                    </div>
                                                </div>
                                                <div class="product-content">
                                                    <a class="product-name" asp-controller="Product" asp-action="Details" asp-route-id="@item.Masp">@item.Tensp</a>
                                                    <div class="price-box pb-1">
                                                        @if (item.Giakm == null)
                                                        {
                                                            <span class="new-price">@Extension.ToVnd((double)(item.Dongia))</span>
                                                        }
                                                        else
                                                        {
                                                            <span class="new-price">@Extension.ToVnd((double)item.Dongia - (double)item.Dongia * (double)item.Giakm)</span>
                                                        }
                                                    </div>
                                                    <div class="rating-box">
                                                        <ul>
                                                            <li><i class="pe-7s-star"></i></li>
                                                            <li><i class="pe-7s-star"></i></li>
                                                            <li><i class="pe-7s-star"></i></li>
                                                            <li><i class="pe-7s-star"></i></li>
                                                            <li><i class="pe-7s-star"></i></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    }
                                }


                            </div>
                        </div>
                        <div class="tab-pane fade" id="list-view" role="tabpanel" aria-labelledby="list-view-tab">
                            <div class="product-list-view row">
                                @if (Model.Count() > 0)
                                {
                                    foreach (var item in Model)
                                    {
                                        <div class="col-12 pt-6">
                                            <div class="product-item">
                                                <div class="product-img img-zoom-effect">
                                                    <a asp-controller="Product" asp-action="Details" asp-route-id="@item.Masp">
                                                        <img class="img-full" src="~/images/sanphams/@item.Hinhanh" alt="@item.Hinhanh">
                                                    </a>
                                                    <div class="product-add-action">
                                                        <ul>
                                                            <li>
                                                                <a href="cart.html">
                                                                    <i class="pe-7s-cart"></i>
                                                                </a>
                                                            </li>
                                                            <li>
                                                                <a href="compare.html">
                                                                    <i class="pe-7s-shuffle"></i>
                                                                </a>
                                                            </li>
                                                            <li>
                                                                <a href="wishlist.html">
                                                                    <i class="pe-7s-like"></i>
                                                                </a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                                <div class="product-content align-self-center">
                                                    <a class="product-name pb-2" href="single-product.html">@item.Tensp</a>
                                                    <div class="price-box pb-1">
                                                        @if (item.Giakm == null)
                                                        {
                                                            <span class="new-price">@Extension.ToVnd((double)(item.Dongia))</span>
                                                        }
                                                        else
                                                        {
                                                            <span class="new-price">@Extension.ToVnd((double)item.Dongia - (double)item.Dongia * (double)item.Giakm)</span>
                                                        }
                                                    </div>
                                                    <div class="rating-box pb-2">
                                                        <ul>
                                                            <li><i class="pe-7s-star"></i></li>
                                                            <li><i class="pe-7s-star"></i></li>
                                                            <li><i class="pe-7s-star"></i></li>
                                                            <li><i class="pe-7s-star"></i></li>
                                                            <li><i class="pe-7s-star"></i></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    }
                                }



                            </div>
                        </div>
                    </div>


                    <div class="pagination-area pt-10">
                        <ul class="pagination justify-content-center">
                            <li class="page-item">
                                <pager class="pager-container" list="@Model" options="@PagedListRenderOptions.Bootstrap4PageNumbersPlusFirstAndLast" asp-action="Index" asp-controller="Product" />
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<!-- Main Content Area End Here -->

@section Scripts{
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
    <script>

        $(document).ready(function () {
            $(".ajax-add-to-cart").click(function () {

                $.ajax({
                    url: "/Shoppingcart/AddToCart",
                    data: {
                        id: $(this).data("id"),
                        soluong: 1,
                        type: "ajax"
                    },
                    success: function (data) {

                        Swal.fire({
                            position: 'top-end',
                            icon: 'success',
                            title: 'Thêm giỏ hàng thành công',
                            showConfirmButton: false,
                            timer: 2500
                        });
                        $("#cart-count").html(data.soluong);
                        console.log(data);

                    }

                });
            });


        });


        $('.ajax-add-to-cart').click(function (e) {
            e.preventDefault();
        });
    </script>



}